.card {
    height: fit-content;
    padding: 1rem 0;
    align-items: center;
}

.category__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.category__heading {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.card__img {
    height: 15rem;
}

.card__img img {
    object-fit: contain;
}

.btn__play {
    width: 7rem;
    padding: 0 .1rem;
    margin: 1rem 0 .5rem 1rem;
    border-radius: 5px;
    outline: none;
    border-width: 0;
    cursor: pointer;
}

.category__card .link__text {
    padding: .7rem 0;
}