.hero {
    height: 100vh;
    background-image: url('../../images/bg.jpeg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

.heading {
    font-size: 5rem;
    color: var(--off-grey);
    margin: 1rem 0;
}

.sub__heading {
    color: var(--off-grey);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero .btn {
    font-size: 1.25rem;
}